<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">Dashboard</h4>
      <div class="ml-auto text-right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">


  <!-- ============================================================== -->
  <!-- Status Cards  -->
  <!-- ============================================================== -->

  <div class="row">
    <!-- Column -->
    <!-- <div class="col-md-6 col-lg-6 col-xlg-6">
        <div class="card card-hover">
            <div class="box bg-warning text-center">
                <h1 class="font-light text-white m-b-0">
                    <i class="mdi mdi-account-star-variant"></i>
                </h1>
                <h4 class="text-white font-w-9 lh-1-4"><small class="font-w-6">Total Prospects</small><br>609</h4>
            </div>
        </div>
    </div> -->
    <!-- Column -->
    <!-- <div class="col-md-2 col-lg-6 col-xlg-6">
        <div class="card card-hover">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white m-b-0">
                    <i class="mdi mdi-chart-line"></i>
                </h1>
                <h4 class="text-white font-w-9 lh-1-4"><small class="font-w-6">Total Leads</small><br>254</h4>
            </div>
        </div>
    </div> -->
    <!-- Column -->
    <div class="col-sm-3 col-md-3 col-lg-3 col-xlg-2">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-w-9 text-white m-b-0">20</h1>
          <h6 class="font-w-6 text-white">Total Task</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-sm-3  col-md-3 col-lg-3 col-xlg-2">
      <div class="card card-hover">
        <div class="box bg-danger text-center">
          <h1 class="font-w-9 text-white m-b-0">06</h1>
          <h6 class="font-w-6 text-white">Open Task</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-3 col-lg-3 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-success text-center">
          <h1 class="font-w-9 text-white m-b-0">05</h1>
          <h6 class="font-w-6 text-white">Close Task</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-md-3 col-lg-3 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-warning text-center">
          <h1 class="font-w-9 text-white m-b-0">02</h1>
          <h6 class="font-w-6 text-white">Inprogress Task</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- <div class="col-md-2 col-lg-2 col-xlg-2">
        <div class="card card-hover">
            <div class="box bg-secondary text-center">
                <h1 class="font-w-9 text-white m-b-0">03</h1>
                <h6 class="font-w-6 text-white">No Response</h6>
            </div>
        </div>
    </div> -->
    <!-- Column -->
    <!-- <div class="col-md-2 col-lg-2 col-xlg-2">
        <div class="card card-hover">
            <div class="box bg-success text-center">
                <h1 class="font-w-9 text-white m-b-0">04</h1>
                <h6 class="font-w-6 text-white">Project Started</h6>
            </div>
        </div>
    </div>                      -->
    <!-- Column -->
  </div>





</div>
