<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/icons/font-awesome/css/fontawesome.min.css">
  <!--<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">-->
  <link rel="stylesheet" type="text/css" href="css/loginForm.css">
  <link href="css/customize.css" rel="stylesheet">
  <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-35 p-r-35 p-t-65 p-b-35">
      <form action='/login' method="POST" class="login100-form validate-form ">
					<span class="login100-form-title p-b-33">
						Account Login
					</span>
        <% flash.get('errorMsg').forEach(function (message) { %>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading"><i class="fa fa-times-circle" aria-hidden="true"></i> Error!</h4>
              <hr>
              <p><%= message %></p>
            </div>
          </div>
        </div>

        <% }) %>
        <% flash.get('message').forEach(function (message) { %>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading"><i class="fa fa-times-circle" aria-hidden="true"></i> Success!</h4>
              <hr>
              <p><%= message %></p>
            </div>
          </div>
        </div>


        <% }) %>
        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="email" placeholder="Email">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
          <input class="input100" type="password" name="password" placeholder="Password">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="container-login100-form-btn m-t-20">
         <button type="submit" class="login100-form-btn btn-primary">
            Sign in
         </button>
        </div>

        <div class="text-center p-t-45 p-b-4">
						<span class="txt1">
							CompanyName © 2019
						</span>


        </div>


      </form>
    </div>
  </div>
</div>



<!--===============================================================================================-->
<script src="js/jquery.min.js"></script>
<!--===============================================================================================-->
<script src="js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="js/loginForm.js"></script>

</body>
</html>
